* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Great Vibes', cursive, sans-serif;
}

.caixa-principal {
  height: 100vh;
  width: 100%;
  padding: 12px 36 px
  background-image: url(./imagem/avatar-vanessa.png) margem;
  background-size: cover;
  background-position: center;
  background-color: blueviolet;

}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 150px;
  padding-right: 30px;
  padding-top: 25px;

}

.portifolio {
  color: blueviolet;
  font-size: 40xp;
  font-weight: 400;
  

}

.portifolio span {
  color: red;
}

li {
  color: white;
  list-style: nome;
  display: inline-block;
  font-size: 25px;
  margin-right: 30px;
  cursor: pointer;
}

li:houver {
  color: blueviolet;
  transition: 0.5s;
}

.meu-nome {
  position: absolute;
  top: 50%;
  left: 5%;
}

h1 {
  color: violet;
  font-size: 400%;
  botaotopo {
    display:scroll;
    position:fixed !important;
    float: right;
    display: inline;
    bottom:6px;
    right:6px;
  }

}

h1 span {
  color: blueviolet;
}

meumeu-nome {
  color: greenyellow;
}
button {
  color:fuchsia;
  list-style: nome;
  display: inline-block;
  font-size: 25px;
  margin-right: 30px;
  cursor: pointer;
}
  
