/* Estilos gerais */
body {
  background-color: #1a1a1a; 
  font-family: 'roboto', sans-serif;
  margin: 0;
  padding: 0;
}

/* Estilos para o cabeçalho */
header {
  background-color:#333;
  color:blue;
  padding: 20px;
}

.logo a {
  color:#333;
  text-decoration: none;
  font-size: 24px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  background-color: #555;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


nav ul li {
  display: inline;
  margin-right: 20px;
}

/* Estilos para seções */
section {
  padding: 20px;
  margin-top: 20px;
}

/* Estilos para a seção de banner */
.contenido-banner {
  text-align: center;
}

/* Estilos para a seção de habilidades */
.skills .fila {
  display: flex;
  justify-content: space-between;
}

/* Estilos para a seção de contato */
.contato input[type="text"],
.contato input[type="number"],
.contato input[type="email"],
.contato textarea {
  width: 100%;
  margin-bottom: 10px;
}

.contato button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

/* Estilos para o rodapé */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer .redes a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}
.meu-elemento {
  background-color: #333;
  transition: background-color 0.3s ease;
}
.meu-elemento:hover {
  background-color: #555;
}

