/* Estilos gerais */
body {
  background: rebeccapurple; 
  cursor: pointer;
  font-family: "bold "(negrito);
  margin: 0;
  padding: 0;
}

/* Estilos para o cabeçalho */
header {
  background: color#040404;;
  color:blue;
  padding: 20px;
}
section {
  background-image: url("imagem/fundotelamatematico.png");

}


section{
  background-image: 0;
  body {
    margin: 0;
    padding: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    background-image: url("imagem/Captura\ de\ tela\ 2024-01-04\ 203251.png");
    background-size: cover;
}

}


.logo a {
  color:antiquewhite;
  text-decoration: none;
  font-size: 24px;
}
.foto img {
  opacity: 0; /* Começa com a imagem invisível */
  transition: opacity 0.5s ease; /* Adiciona uma transição suave */
}

.foto:hover img {
  opacity: 1; /* Quando o mouse passa sobre a div, a imagem aparece */
}

nav ul {
  list-style-type: none;
  padding: 0;
  background-color: whitesmoke;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
}


nav ul li {
  display: inline;
  margin-right: 20px;
}

/* Estilos para seções */
section {
  padding: 20px;
  margin-top: 20px;
}

/* Estilos para a seção de banner */
.contenido-banner {
  text-align: center;
}

/* Estilos para a seção de habilidades */
.skills .fila {
  display: flex;
  justify-content: space-between;
}

/* Estilos para a seção de contato */
.contato input[type="text"],
.contato input[type="number"],
.contato input[type="email"],
.contato textarea {
  width: 100%;
  margin-bottom: 10px;
}

.contato button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

/* Estilos para o rodapé */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer .redes a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}
.meu-elemento {
  background-color: #333;
  transition: background-color 0.3s ease;
}
.meu-elemento:hover {
  background-color: #555;
}

